/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    justify-content: center;
}

app-root{
    width: fit-content;
    background-color: rgba(148, 242, 245, 0.253);
}